.page-id-135{

    .content-area{
        @include general-width;
    #main{
        width: 75%;
    }
    #secondary{
    width: 25%;
    padding-left: 15px;
    margin-top: 30px;
    }
    }
    .title, .thumbnail-wrapper{
        text-align: center;
    }
    .title h3{
        font-size: 30px;
    }
}