// Ad rotator
.rotator {
    position: relative; // height: 120px;
    border: 1px solid $color__border;
    margin-top: 26px;
    .g-col {
        display: none;
        &.show {
            display: inline-block;
        }
    }
    .skipper {
        position: absolute;
        top: -5px;
        right: 1px;
        i {
            cursor: pointer;
        }
    }
}

#adrotate_widgets-4 {
    .g {
        border: 1px solid $color__border;
        padding: 20px 20px;
    }
}

// #secondary {
//     .g-dyn {
//         border: 1px solid rgba(0, 0, 0, .1);
//     }
// }

