.page-id-162{
    .content-area{
        max-width: 980px;
        margin: 0 auto;
    }

    #secondary{
        display: none;
    }
    // .content-area{
    //     @include general-width;
    // #main{
    //     width: 75%;
    // }
    // #secondary{
    // width: 25%;
    // padding-left: 15px;
    // margin-top: 30px;
    // }
    // }
    
}