.archive{
    .content-area, .arhive-posts-container{
        @include general-width;
        // flex-wrap: wrap;
    
    #main{
        width: 80%;
    }
    .widget-area{
    width: 20%;
    margin-top: 50px;
    }
    }
    
    .page-header {
        display: flex;
        width: 95%;
        justify-content: space-between;
        height: 25px;
        margin-top: 10px;
        a{
            text-decoration: none;
            color:#777;
            p{
                margin: 0;
            }
        }
        h2{
            width: 40%;
            font-size: 13px;
        }
        ul{
            // width: 60%;
            list-style: none;
            display: flex;
            margin: 0;
            li{
                padding-right: 10px;                
            }
        }
    h1{
        border-left: 4px solid $color_tr;
        font-size: 16px;
        padding-left: 10px;	
        margin: 0;
        
    }}
    .posts{
        width: 33%;
        padding-right: 43px;
        margin-bottom: 63px;
    
    
        .post-img-tb img{
            height: 111px;
            object-fit: cover;
        }
    }
 

    .title h3{
        margin: 0;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
    }
    .arhive-posts-container {
        margin-top: 50px;
    }

    }


    ///taxonomy best posts
    .best-posts{
        display: flex;
    }