.archive {
    .site-content {
        margin: 0 20px;
    }
    .content-area,
    .arhive-posts-container {
        @include media ($desktop-width) {
            @include general-width;
            margin-top: 20px;
            #main {
                width: 80%;
            }
            .widget-area {
                width: 20%;
                margin-top: 50px;
            }
        } // flex-wrap: wrap;
    }
    .thumbnail-wrapper {
        text-align: center;
        @include media ($desktop-width) {
            text-align: left;
        }
        img {
            max-height: 96px;
            object-fit: cover; // overflow: hidden;
   
        }
    }
    .post-cat-type-list {
        margin-top: 30px;
    }
    .page-header {
        height: 25px;
        margin-top: 10px;
        @include media ($desktop-width) {
        display: flex;
        width: 95%;
        justify-content: space-between;
        
    }
        a {
            text-decoration: none;
            color: #777;
            p {
                margin: 0;
            }
        }
        h2 {
            width: 40%;
            font-size: 13px;
        }
        ul {
            list-style: none;
            margin: 10px 0;            
            @include media ($desktop-width) {
            display: flex;
          
        }
            li {
                padding-right: 10px;
                a:hover {
                    color: #222;
                }
            }
        }
        h1 {
            border-left: 4px solid $color_tr;
            font-size: 16px;
            padding-left: 10px;
            margin: 0;
        }
    }
    .post-cat-type-list{
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    
}
    .posts {
        margin-bottom: 63px;
        @include media ($desktop-width) {
            width: 33%;
            padding-right: 43px;
        }
        .post-img-tb img {
            height: 111px;
            object-fit: cover;
        }
        a {
            @include th-title;
        }
        span {
            color: #aaa;
            font-size: 12px;
        }
    }
    .title h3 {
        margin: 8px 0;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
    }
    .arhive-posts-container {
        margin-top: 70px;
        @include media ($desktop-width) {
            flex-wrap: wrap;
            display: flex;
            margin-top: 50px;
        }
    }
} ///taxonomy best posts