
///archive
.archive{
    #primary, .arhive-posts-container{
        display: flex;
    
    #main{
        width: 70%;
    }
    #secondary{
    width: 30%;
    }
    }
    
    .page-header {
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            color:#777;
            
        }
        h2{
            font-size: 13px;
        }
        ul{
            list-style: none;
            display: flex;
            li{
                padding-right: 34px;
            }
        }
    h1{
        border-left: 4px solid $color_tr;
        font-size: 20px;
        padding-left: 10px;	
    }}
    .posts{
        width: 228px;
        padding-right: 28px;
        img{
            height: 111px;
        }
    }
    .content-area{
        #secondary{
            padding-left: 8px;
            margin-top: 62px;
            
            }
    }

    }