.archive{
    .content-area, .arhive-posts-container{
        @include general-width;
        flex-wrap: wrap;
    
    #main{
        width: 75%;
    }
    #secondary{
    width: 25%;
    padding-left: 15px;
    }
    }
    
    .page-header {
        display: flex;
        width: 95%;
        justify-content: space-between;
        height: 25px;
        margin: 30px 0;
        a{
            text-decoration: none;
            color:#777;
            p{
                margin: 0;
            }
        }
        h2{
            width: 40%;
            font-size: 13px;
        }
        ul{
            // width: 60%;
            list-style: none;
            display: flex;
            margin: 0;
            li{
                padding-right: 10px;                
            }
        }
    h1{
        border-left: 4px solid $color_tr;
        font-size: 16px;
        padding-left: 10px;	
        margin: 0;
        
    }}
    .posts{
        width: 33%;
        padding-right: 10px;
    
        img{
            height: 111px;
            object-fit: cover;
        }
    }
 
    .content-area{
        #secondary{
            margin-top: 30px;
            
            }
    }
    .title h3{
        margin: 0;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
    }

    }


    ///taxonomy best posts
    .best-posts{
        display: flex;
    }