
.site-footer{
    margin-bottom: 50px;
}
.instagram-api{
    background: grey;
    height: 100px;
}

.site-info-container, .instagram-container{
    max-width: 990px;
    margin: 0 auto;
}
.site-info-container{
    margin-top: 50px;
    border-top: 2px solid black;
}
.footer-sns-contianer{
    text-align: center;
    .fa{
    padding: 0 20px;}
}

.footer-second-section, .footer-first-section{
    list-style: none;
    display: flex;
}
.footer-first-section{
    justify-content: space-between;
    p{
        margin: 10px 0;
    }
    span{
        font-weight: bold;
        padding-right: 10px;
    }
    a{
        text-decoration: none;
        color: $color_footer_p;
        font-size: 12px;
        padding-top: 10px;
    }
}
.footer-second-section{
    border-top: 1px solid $color__border;
    padding-top: 15px;
    margin: 0;
    padding-left: 0;
    li{
        padding-right: 20px;
        font-size: 12px;
        color: $color_footer_p;
    }
    li:nth-child(7){
        font-weight: bold;
        color: black;
    }
    span{
        color: $color_tr;
    }
}
