.home {
    .site-content {
        @include general-width;
        .contnet-continaer {
            width: 72%;
        }
        #secondary {
            width: 28%;
            margin-top: 30px;
            padding-left: 36px;
        }
        .widget-left {
            width: 200px;
        }
    }
    .viewmore-btn {
        background: grey; // width: 630px;
        height: 32px;
        padding-top: 4px;
        margin-top: 30px;
        text-align: center;
        a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            text-align: center;
            padding-top: 20px;
        }
    }
    .front-posts {
        display: flex;
        padding-bottom: 20px;
        .front-post-single {
            max-width: 158px;
            margin: 0 10px;
        }
        .front-post-single:nth-child(4) {
            margin-left: 10px;
            margin-right: 0;
        }
        .front-post-single:nth-child(1) {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .post-th-title {
        a {
            font-size: 14px;
        }
    }
    .front-post-contianer {
        margin: 50px 0;
        .content-title a {
            font-size: 15px;
        }
    }
    .best-thumb,
    .content-p-container {
        width: 50%;
    }
    .fpc-trtv,
    .fpc-news {
        border-bottom: 1px solid $color__border;
    }
    .fpc-trtv {
        h2 {
            display: flex;
            span {
                padding-left: 10px;
            }
        }
        .yellow-dot {
            width: 22px;
            height: 22px;
            border-radius: 20px;
            background: rgb(243, 223, 65);
            i {
                color: white;
                margin-left: 10px;
                margin-top: 2px;
                font-size: 15px;
            }
        }
    }
    .fp-post-header {
        p {
            color: $color__viewall;
        }
    }
}

.sb_instagram_header,
#sbi_load {
    display: none;
}

.trtv-tb-w-bg {
    position: relative;
}

.play-btn {
    width: 23px;
    height: 23px;
    background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
    border-radius: 40px;
    position: absolute;
    img {
        width: 12px;
        margin-left: 8px;
        margin-top: 6px;
    }
}

.shape-t {
    background: url("../..img/triangle.png") no-repeat center 4.5rem;
    background-size: contain, 11rem 26rem, cover;
}

.home {
    .play-btn {
        top: 61px;
        left: 130px;
    }
    .black-box {
        width: 132px;
        height: 74px;
    }
}

.post-type-archive-trtv {
    .black-box {
        width: 200px;
        height: 111px;
    }
}

// Ad rotator
.rotator {
    position: relative;
    height: 120px;
    border: 1px solid $color__border;
    margin-top: 25px;
    .g-col {
        display: none;
        &.show {
            display: inline-block;
        }
    }
    .skipper {
        position: absolute;
        top: -5px;
        right: 1px;
        i {
            cursor: pointer;
        }
    }
}

#adrotate_widgets-4 {
    .g {
        border: 1px solid $color__border;
        padding: 20px 20px;
    }
}