.home {
    .front-page-wrapper {
        @include media ($desktop-width) {
            @include general-width;
            .front-page {
                width: 75%;
            }
            #secondary {
                width: 25%;
                margin-top: 25px;
                padding-left: 36px;
            }
        }
        .widget-left {
            width: 200px;
        }
    }
    .text-bar-top {
        max-width: 900px;
        margin: 0 auto;
        .wptu-ticker {
            border: none;
        }
        .wptu-ticker-title,
        .wptu-ticker-head {
            background: $color_tr !important;
            color: white !important;
            span {
                display: none;
            }
        }
    }
    .viewmore-btn {
        background: grey; // width: 630px;
        height: 32px;
        padding-top: 4px;
        margin-top: 30px;
        text-align: center;
        a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            text-align: center;
            padding-top: 20px;
        }
    }
    .front-posts {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px 20px 20px;
        @include media ($desktop-width) {
            display: flex;
            padding: 0 0px 20px 0px;
        }
        .front-post-single {
            max-width: 260px;
            @include media ($desktop-width) {
                max-width: 165px;
                margin: 0 12px;
            }
        }
        .front-post-single:nth-child(4) {
            @include media ($desktop-width) {
                margin-left: 12px;
                margin-right: 0;
            }
        }
        .front-post-single:nth-child(1) {
            margin-left: 0;
            margin-right: 12px;
        }
    }
    .post-th-title {
        a {
            font-size: 14px;
        }
    }
    .front-post-contianer {
        margin: 50px 0;
        .content-title a {
            font-size: 15px;
        }
    }
    .mashsb-container {
        padding: 0px;
        padding-top: 19px;        
        border: 0;
        .mashsb-buttons{
        display: flex;
        justify-content: flex-start;
        width: 290px;
        margin: 0;
        }
        a{
            margin-right: 10px;
        }
    }

   
    .fpc-trtv,
    .fpc-news {
        border-bottom: 1px solid $color__border;
    }
    .fpc-trtv {
        h2 {
            display: flex;
            span {
                padding-left: 10px;
            }
        }
        .yellow-dot {
            width: 22px;
            height: 22px;
            border-radius: 20px;
            background: rgb(243, 223, 65);
            i {
                color: white;
                margin-left: 10px;
                margin-top: 2px;
                font-size: 15px;
            }
        }
    }
    .fp-post-header {
        p {
            color: $color__viewall;
            padding-right: 10px;
        }
    }
    //video posts
    .trtv-tb-w-bg {
        position: relative;
    }
    .play-btn {
        @include video-playbtn-shape;
        top: 61px;
        left: 130px;
    }
    .shape-t {
        background: url("../..img/triangle.png") no-repeat center 4.5rem;
        background-size: contain, 11rem 26rem, cover;
    }
    //best posts 
    .firstpage-content-th {
        @include media ($desktop-width) {
        
        }
    }

    .p-content-div{
        @include media ($desktop-width) {
            display: flex;
            // width: 85%;
        }
        .firstpage-content-th{
            width: 65%;
            padding-left: 15px;
        }
        
    }
    .front-best-post-date {
        flex-wrap: wrap;
        @include post-container-date;
        margin-bottom: 6px;
        p {
            margin: 2px;
            @include media ($desktop-width) {
                margin-right: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .content-p-container {
        // padding-left: 10px;
        .content-p {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: $color_orange;
            font-size: 14px;
        }
    }
    .best-single-container {
        margin-bottom: 20px;
        padding: 30px 0px;
        margin-top: 11px;
        .post-best-h {
            text-decoration: none;
            color: black;
        }
        h3 {
            margin-top: 0;
          
        }
        // @include media ($desktop-width) {
        //     display: flex;
        // }
    }
    .best-thumb {
       
            text-align: center;
            width: 35%;
        
        img {
            width: 300px;
            height: 150px;
            object-fit: cover;
            @include media ($desktop-width) {
                @include post-container-thumb;
            
                height: 200px;
            }
        }
    }
    .fp-post-header {
        display: flex;
        justify-content: space-between;
    }
    .post-thumbnail-wrapper img {
        max-height: 96px;
        object-fit: cover; // overflow: hidden;
    }
}