
.small-menu{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 3px;
    border-bottom: 1px solid #f1f3f6;
    .icons{
        position: absolute;
        top: 35px;
        right: 178px;
    }
    .icons a{
        padding-left: 20px;
    }
    a{
        text-decoration: none;
        // color: white;
       
    &:hover{
        color: $color_h_span; 
    }
    }
    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 10px;
        li{
            padding: 0 10px;
            font-size: 12px;
    }}
}
.small-menu-container{
    // background: #24282d;
    height: 30px;
    border-top: 2px solid $color_tr;
    
}

.easylogo{
    width: 200px;
    margin: 0;
  
}

.logo-search-field{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
    max-width: 990px;
    @media all and (min-width: 700px) {
        padding: 50px 0;
    }
  
   .fa-search{
       color: $color_tr;
    }
    button{
        position: absolute;
        top: 67px;
        right: 12px;
        background: none;
        box-shadow: none;
        border: 0;    
    &:hover{
        box-shadow: none;
    }
    &:focus{
        border: none;
    }
    }

}

.main-navigation{
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 0;
    a{
        color: black;
      
    }
    a:hover{
        color: $color_tr;
    }
    li{
        padding: 0 15px;
    }
    li:first-child{
        padding: 0;
    }
}
.menu-container{
    margin: 0 auto;
}
.logo-search-field, .menu-menu-1-container{
    max-width: 990px;
    margin: 0 auto;
}


