
.small-menu{
    display: flex;
    color: white;
    justify-content: space-between;
    max-width: 990px;
    margin: 0 auto;
    a{
        text-decoration: none;
        color: white;
    &:hover{
        color: $color_h_span; 
    }
    }
    ul{
        display: flex;
        list-style: none;
        margin: 0;
        li{
            padding: 0 10px;
            font-size: 12px;
    }}
}
.small-menu-container{
    background: #24282d;
    height: 30px;
}

.easylogo{
    width: 200px;
    margin: 0;
  
}

.logo-search-field{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
    max-width: 990px;
  
   .fa-search{
       color: $color_tr;
    }
    button{
        position: absolute;
        top: 36px;
        right: 12px;
        background: none;
        box-shadow: none;
        border: 0;    
    &:hover{
        box-shadow: none;
    }
    &:focus{
        border: none;
    }
    }

}

.main-navigation{
    border-top: 1px solid $color__border;
    border-bottom: 1px solid $color__border;
    padding: 30px 0;
    a{
        color: black;
      
    }
    a:hover{
        color: $color_tr;
    }
    li{
        padding: 0 15px;
    }
    li:first-child{
        padding: 0;
    }
}
.menu-container{
 
    max-width: 990px;
    margin: 0 auto;
}


