// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 14) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@mixin general-width{
	display: flex;
	max-width: 990px;
	margin: 0 auto;
	width: 100%;
}


// @include media ($desktop-width) {
// 	font-size: 1.2rem;
// }

