/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		// color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	visibility: hidden;
	height: 0px;
	
	@media all and (min-width: 700px) {
		visibility: visible;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 30px;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-size: 13px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;
			

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				
				&:hover > ul,
				&.focus > ul {
					left: 100%;
					
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-weight: bold; 
		color: #222;
		text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	
	display: block;
}

@media screen and (min-width: 710px) {
	.menu-toggle {
		display: none;
	}
	// .main-navigation{
	// 	display: flex;
	// 	height: 100px;
	// }
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}




//
.gp-back-to-top {
background: $color_tr !important;
border-radius: 0 !important; 
}



#responsive-menu-button{
// position: absolute !important;
// top: 105px !important;
// right: 90% !important;
// top: 15%!important;

@media all and (min-width: 700px) {
	// visibility: hidden !important;
	// top: 10px !important;
	// right: 10px !important;
}
}
