
//share front and news
.post-type-archive-news{
    width: 100%;
    #primary #main{
	width: 100%;
}
.content-p-container{
    width: 55%;
}
.best-thumb{
    width: 45%;
}
.site-content{
    display: flex;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    .contnet-continaer {
        width: 67%;
    }
    #secondary {
        width: 33%;
        margin-top: 30px;
        padding-left: 36px; 
    }
    .widget-left {
        width: 200px;
    }
  }

}
.home, .post-type-archive-news{
    
    .firstpage-content-th {
        display: flex;
        width: 100%;
    }

    .content-title {
        a {
            text-decoration: none;
            font-size: 25px;
            color: black;
        }
        h3 {
            margin: 0;
        }
    }
    .front-best-post-date{
        display: flex;
        border-bottom: 1px solid $color__border;
        margin-bottom: 20px;
        min-height: 32px;
        p{
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 20px;
            color: $color_date;
            .cat-best{
                color: $color_orange;
            }
            
        }
    }
.content-p-container {
    padding-left: 10px;
   .content-p{
       margin: 0;
   }
    a{
        text-decoration: none;
        color: $color_orange;
        font-size: 14px;
    }
}
  .best-single-container {
        border: 1px solid $color__border;
        border-radius: 3px;
        margin-bottom: 20px;
        padding: 20px 20px;
        display: flex;
        margin-top: 11px;
    }
    .best-thumb {
        img{
        height: 150px;
        width: 280px;
        object-fit: cover;
    }
    
    }

// sns sharing btn

.mashsb-container{
    padding-left: 10px;
    border-left: 1px solid $color__border;
    padding-top: 70px;

}
.p-content-div{
    margin-right: 10px;
}
.mashsb-buttons a{
    width: 70px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .text{
        padding-top: 2px;
    }
}





.fp-post-header{
    display: flex;
    justify-content: space-between;
    }

// sns sharing btn

.mashsb-container{
    padding-left: 10px;
    border-left: 1px solid $color__border;
    padding-top: 70px;

}
.p-content-div{
    margin-right: 10px;
}
.mashsb-buttons a{
    width: 70px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .text{
        padding-top: 2px;
    }
}


}






///tv

.post-type-archive-trtv{

.trtv-posts{
padding-top: 30px;
}
.play-btn {
    top: 85px;
    left: 170px;
    img{
    height:  10px;
}
}
}