
//share front and news
.post-type-archive-news{
    width: 100%;
    #primary #main{
	width: 100%;
}

.site-main{
    margin-top: 10px;
}
.content-p-container{
    width: 55%;
}
.best-thumb{
    width: 45%;
}
.content-title h3{
    margin-top: 0;
}

.site-content{
    @include general-width;
    // .contnet-continaer {
    //     width: 67%;
    // }
    #secondary {
        width: 30%;
        margin-top: 30px;
        padding-left: 36px; 
    }
    .widget-left {
        width: 200px;
    }
  }


//best posts 
.firstpage-content-th {
    display: flex;
    width: 100%;
}
.front-best-post-date{
    @include post-container-date;
}
.content-p-container {
padding-left: 10px;
.content-p{
   margin: 0;
}
    a{
        text-decoration: none;
        color: $color_orange;
        font-size: 14px;
    }
}

.news-single-container {
    @include post-container;
}
.news-thumb {
    img{
    @include  post-container-thumb;
}
}
.fp-post-header{
display: flex;
justify-content: space-between;
}

}






