.life-template-default,
.single {
    .entry-meta {
        span {
            margin-right: 8px;
            color: #222;
        }
        .posted-on {
            margin-right: 330px;
        }
        .author {
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: #222;
        }
    }
    .site-content {
        margin-top: 20px;
    }
    .page-root {
        list-style: none;
        display: flex;
        height: 20px;
        margin: 0;
        padding: 0;
        font-size: 14px;
        p {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: $color_grey;
            margin-right: 10px;
            &:hover {
                color: #222;
            }
        }
    }
    .content-area,
    .arhive-posts-container {
        @include media ($desktop-width) {
            @include general-width;
            flex-wrap: wrap;
            #main {
                width: 80%;
            }
            #secondary {
                width: 20%;
                padding-left: 15px;
            }
        }
    }
    .feature-image {
        margin-left: 2%;
        img {
            object-fit: cover;
            width: 90%;
        }
    }
    .single-sns-bottom a {
        background: none;
        border: 1px solid $color__border;
        border-radius: 100px;
        span {
            color: black;
        }
    }
    .mashsb-buttons{
        margin: 10px 0 50px 0;
        width: 500px;
     a.mash-small{
        padding: 20px 10px;
        margin-right: 23px;
    }
}
    .single-sns-top {
        .text {
            color: black;
        }
        a.mash-small {
            padding: 20px;
            margin: 10px 20px 20px 0;
            
        }
        .mashicon-facebook {
            background: none;
            border: 1px solid $color__border; // border-radius: 100px;
            max-width: 200px !important;
            border-radius: 100px;
            .icon {
                color: rgb(59, 89, 152);
            }
        }
        .mashicon-twitter {
            background: none;
            border: 1px solid $color__border; // border-radius: 100px;
            max-width: 200px !important;
            border-radius: 100px;
            .icon {
                color: #2ecbfd;
            }
        }
        .mashicon-subscribe {
            background: none;
            border: 1px solid $color__border; // border-radius: 100px;
            max-width: 200px !important;
            border-radius: 100px;
           
        }
    }

    .rotatot-single-post-container {
        display: flex;
    }
    .relatedposts {
        display: flex;
        padding: 15px;
        border: 1px solid $color__border;
        background: $color_post_background;
        img {
            width: 150px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .relatedthumb {
            width: 25%;
        }
    }
    .p-n-article-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .relatedposts{
        margin-bottom: 50px;
    }
    .form-submit {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    .comment-form-comment textarea {
        height: 120px;
    }
    .relatedthumb {
        a {
            @include th-title;
        }
    }
  
    .logged-in-as{
        a{  
            text-decoration: none;
            padding: 10px;
            border-radius: 2px;
            background: $color_tr;
            color:white;
        }
        
    }
    .submit{
        padding: 15px 35px;  
        &:hover{
            background: $color_h_span;
        }

    }
}

.post-85 {
    margin-right: 20px;
}