.single {
    .logo-search-field,
    .small-menu,
    .menu {
        margin: 0 20px;
    }
    .site-content {
        margin: 0 20px;
    }
    .content-area,
    .arhive-posts-container {
        @include media ($desktop-width) {
            @include general-width;
            flex-wrap: wrap;
            #main {
                width: 75%;
            }
            #secondary {
                width: 25%;
                padding-left: 15px;
            }
        }
    }
}