///tv

.post-type-archive-trtv{
    
    .trtv-posts{
    padding-top: 30px;
    }
    // .play-btn {
    //     top: 85px;
    //     left: 170px;
    //     img{
    //     height:  10px;
    // }
    // }

    //video posts
.trtv-tb-w-bg {
    position: relative;
}

.play-btn {
    @include video-playbtn-shape;
    // top: 11px;
    // left: 130px;
}

.shape-t {
    background: url("../..img/triangle.png") no-repeat center 4.5rem;
    background-size: contain, 11rem 26rem, cover;
}

    }