///tv
.post-type-archive-trtv {
    .trtv-posts {
        flex-wrap: wrap;
    }
    #secondary {
        margin-top: 30px;
    } //video posts
    .trtv-tb-w-bg {
        position: relative;
    }
    .play-btn {
        @include video-playbtn-shape;
        top: 71px;
        left: 179px;
    }
    .shape-t {
        background: url("../..img/triangle.png") no-repeat center 4.5rem;
        background-size: contain, 11rem 26rem, cover;
    }
    .arhive-posts-container {
        margin-top: 30px;
    }
}